@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}
body{
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}
hr{
    background-color: #4f4f4f3a;
    height: 1px;
    width: 180px;
    border: none;
}
#navbar{
    background-color: #ffffff;
    /* background-color: #212121; */
    height: 60px;
    display: flex;
    /* flex-direction: column; */
    left: 0;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar > li{
    display: grid;
}
.menu-bars{
margin-left:1.8rem;
margin-right: 25px;
font-size: 1.2rem; 
/* font-size: 15px; */
color: rgb(0, 0, 0);
/* color: #fff; */
}
.show-menu{
    margin-left: 2rem;
    font-size: 1.2rem; 
}
#nav-menu{
    background-color: #ffffff;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

#nav-menu.active{
    left: 0;
    transition: 350ms;
    
    
}
.nav-text{
    display: flex;
    justify-content: start;
    list-style: none;
    height: 45px;
    padding: 0.2rem;
}
.nav-text a{
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    margin-left: 1rem;
}
.nav-text:hover{
    background-color: rgba(144,144,144,0.219);
    cursor: pointer;
}
.nav-menu-items{
    width: 100%;

}
.nav-icon{
    padding-right:1rem;
    color: #000000;
}
#youtube-logo{
    color: #F90201;
    padding-right:0.2rem;
    height: 25px;
}
#navbar-toggle{
    background-color: #ffffff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}
#navbar-toggle h1{
    color: rgb(0, 0, 0);
    font-family: 'Oswald',sans-serif;
    font-size: 1.2rem;
}
#navbar-toggle a{
    text-decoration: none;

}
.fa-bars{
    color: rgb(0, 0, 0);
}
.nav-selection{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sortslogo{
    width: 30px;
    height: 20px;

}

#nav-primary{
    display: flex;
    flex-direction: column;
     margin-top: 410px;
    /* margin-left: -60px; */
    justify-content: start;
    margin-left:1.8rem;
    gap: 20px; 
}
.nav-text >a {
    /* display: grid; */
margin-top: 15px;
}
.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    margin: auto;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    /* margin-left: 200px; */
    border-radius: 25px;
    outline: rgb(0, 51, 255);
}

.search-btn{
    width: 5%;
    height: 95%;
    border-radius: 25px;
    margin-left: -35px;
    background: #ffffff;
    margin-top: 1px;
    /* border: 2px solid #dbdbdb; */
    /* padding: 5px 0; */
    border: none;
}

.search-btn img{
    height: 20px;
   
  
    /* width: 30px; */
}
#google-assis{

    height: 35px;
    width: 37px;
 
    /* background-color: #adaaaa53; */
    border-radius: 50%;
    margin-left: 18px;
    /* padding: 5px; */
    cursor: pointer;
}

.logo{
    height: 25px;
    margin: -10px 30px 0;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 20px;

}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
    /* color: black; */
}

.user-dp{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-dp:hover{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.links{
    /* display: block; */
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

/* video container
 */


 
.video-container{
    width: calc(100% - 20px);
    margin-top: 60px;

    margin-left: 10px;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 200px; */
    gap: 10px;
/* margin-bottom: 400px; */
    overflow-x: hidden;
    overflow:-moz-hidden-unscrollable;
  
}
#search-results >div >img{
    /* height: 300px; */
    width: 260px;
    height: 160px;
}
.video{
    min-height: 100px;
    height: 100px;

   
}

.thumbnail{
    width: 100%;
    height: 80px;
    object-fit: cover;
 
}

.content{
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.title{
    width: 100%;
    height: 30px;
    overflow: hidden;
padding-bottom: 90px;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}
#display-nav{
    margin-top: 60px;
    padding: 15px;
    display: block;
    gap: 80px;
    width:80px;

    position: inline-block;
    top: 0;
  /* position: fixed; */
  left: 0;
    height: 460px;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
}
#display-nav >div{
    display: grid;
    /* gap: 50px; */
    margin-bottom: 50px;
    font-size: 12px;
}
#display-nav >div>img{
width: 15px;
margin-left: 20px;
}
#display-nav >div:nth-child(1) i{
 margin-left: 15px;
}
#display-nav >div:nth-child(2) i{
    margin-left: 15px;
   }
#display{
    display: flex;
    margin-left: -8px;
}
#iframe{
    border-radius: 15px;
}